<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Admin</li>
            <li><a href="{{ url('_admin_deal_list') }}">{{'admin.header.deals'|trans}}</a></li>
            <li><a href="{{ url('_admin_stats') }}">{{'admin.header.analisis'|trans}}</a></li>
            <li><a href="{{ url('_admin_contract_list') }}">{{'admin.header.contracts'|trans}}</a></li>
        </ul>
    </div>
</div>